In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split

In [2]:
iris = datasets.load_iris()
X = pd.DataFrame(iris.data)
y = iris.target
yName = iris.target_names
yName

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [6]:
X[:50].describe()

              0          1          2          3
count  50.00000  50.000000  50.000000  50.000000
mean    5.00600   3.428000   1.462000   0.246000
std     0.35249   0.379064   0.173664   0.105386
min     4.30000   2.300000   1.000000   0.100000
25%     4.80000   3.200000   1.400000   0.200000
50%     5.00000   3.400000   1.500000   0.200000
75%     5.20000   3.675000   1.575000   0.300000
max     5.80000   4.400000   1.900000   0.600000

In [7]:
X[50:100].describe()

               0          1          2          3
count  50.000000  50.000000  50.000000  50.000000
mean    5.936000   2.770000   4.260000   1.326000
std     0.516171   0.313798   0.469911   0.197753
min     4.900000   2.000000   3.000000   1.000000
25%     5.600000   2.525000   4.000000   1.200000
50%     5.900000   2.800000   4.350000   1.300000
75%     6.300000   3.000000   4.600000   1.500000
max     7.000000   3.400000   5.100000   1.800000

In [8]:
X[100:].describe()

              0          1          2         3
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000

In [3]:
X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                 random_state = 25,
                                                 test_size = 0.2,
                                                 stratify = y)

In [ ]:
# 可加入對 X_train 的縮放

## 各分類器的訓練與評估

In [5]:
# SVC 向量機
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

clf01 = SVC()
clf01.fit(X_train,y_train)
score01 = accuracy_score(y_test,clf01.predict(X_test))
score01

1.0

In [12]:
import joblib

joblib.dump(clf01,"svc_model.joblib")

['svc_model.joblib']

In [5]:
# randomforest 隨機森林
from sklearn.ensemble import RandomForestClassifier

clf02 = RandomForestClassifier(n_estimators = 800,
                               criterion = "gini",)
clf02.fit(X_train,y_train)
score02 = accuracy_score(y_test,clf02.predict(X_test))
score02

0.8666666666666667

In [7]:
import joblib

joblib.dump(clf02,"rf_model.joblib")

['rf_model.joblib']

In [9]:
# KNN
from sklearn.neighbors import KNeighborsClassifier

clf03 = KNeighborsClassifier(n_neighbors = 3)
clf03.fit(X_train,y_train)
score03 = accuracy_score(y_test,clf03.predict(X_test))
score03

0.9

In [10]:
joblib.dump(clf03,"knn_model.joblib")

['knn_model.joblib']

In [19]:
# LogisticRegression
from sklearn.linear_model import LogisticRegression

clf04 = LogisticRegression(C = 0.5)
clf04.fit(X_train,y_train)
score04 = accuracy_score(y_test,clf04.predict(X_test))
score04

0.9333333333333333

In [20]:
joblib.dump(clf04,"lr_model.joblib")

['lr_model.joblib']

In [6]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier

clf05 = DecisionTreeClassifier() #criterion='entropy')
clf05.fit(X_train, y_train)
y_pred = clf05.predict(X_test)
print(f'{accuracy_score(y_test, y_pred)*100:.2f}%')

90.00%

In [8]:
import joblib
joblib.dump(clf05,"dt_model.joblib")

['dt_model.joblib']